/* import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
	font-family: 'DM Sans', sans-serif;
}

/* remove the leaflet attribution from the application */
div.leaflet-control-attribution.leaflet-control {
	display: none;
}

/* loading div */
#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.7;
	background-color: #fff;
	z-index: 9999;
	text-align: center;
	margin: 0;
	vertical-align:middle;
}

/* image inside the loading div */
#loading-image {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%); /* Safari and Chrome */
	-moz-transform: translate(-50%, -50%); /* Firefox */
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-o-transform: translate(-50%, -50%); /* Opera */
}

/* the div containing the select */
.form-group {
	width: 200px;
	min-width: 50px;
	max-width: 200px;
	top: 1vw;
	margin: 0 auto;
	z-index: 900;
	position: relative;
	text-align: center;
}

/* the select itself */
#selCountry {
	z-index: 900;
	display: inline-block;
	margin: 0 auto;
}

#mapid {
	height: 100vh;
	position: absolute;
	width: 100%;

	bottom: 0px;
}

.right-align {
	text-align: right;
}

.hide-me {
	display: none;
}

/*specific to wiki link markers*/
#wiki {
	width: 40vw;
}

/*************** apply to all marker popups ***************/
.leaflet-popup-content-wrapper {
	width: fit-content;
	padding: 0px;
}

.leaflet-popup-content-wrapper tr:nth-child(even) {
	background-color: white;
	color: black;
}

.leaflet-popup-content-wrapper tr:nth-child(odd) {
	background-color: lightgray;
	color: black;
}

div.leaflet-popup-content-wrapper {
	background-color: #f3f3f3ec;
}


.left-align {
	text-align: left;
}

.centre-align {
	text-align: center;
}

.fit-content {
	width: fit-content;
}

.img-fluid {
	width: 100%;
	padding: 0px 0px 10px 0px;
}

/* the core info table specificlly */
#coreInfoTable {

}

/*************** apply to all modals ***************/
div.modal-content {
	height: fit-content;
	border-radius: 20px;
	color: black;
}

div.modal-body {
	max-height: 80vh;
	overflow-y: auto;
	width:auto;
}

/*************** modal headers ***************/
#coreInfoHeader {
	background-color: rgb(17, 135, 182);
	color: white;
}

#weatherHeader {
	background-color: rgb(255, 224, 51);
}

#nationalWeatherTitle {
	align-content: center;
}

#covidHeader {
	background-color: rgb(226, 0, 0);
	color: white;
}

#newsHeader {
	background-color: rgb(119, 48, 69);
	color: white;
}

#travelHeader {
	background-color: lightskyblue;
	color: white;
}

hr.hr1 {
	height: 5px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(119, 48, 69);
}

/*************** modal titles ***************/


/*************** modal bodies ***************/
div#coreInfoBody.modal-body {
	padding: 0px;
}

div#nationalWeatherBody.modal-body {
	padding: 0px;

}

div#covidBody.modal-body {
	padding: 0px;
}

/*************** tables and containing cells ***************/
table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {
    background-color: #ebebeb;	/* apply to every other table row */
}

/*************** Support for IE browser ***************/
select::-ms-expand {
	  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
	select {
		background: none\9;
		padding: 5px\9;
	}
}

/* If the browser window is 768px or smaller, the select will be repositioned in line with the controls */
@media only screen and (max-width: 768px) {
	.form-group {
		top: 15px;
	}
}

/* the message when there is no news to display */
#noNewsDiv {
	background-color: #666666;
	color: white;
	visibility: hidden;
	position: absolute;
	z-index: 400;
	bottom: 0px;
	width: 100vw;
	text-align: center;
}

p {
	vertical-align: middle;
}


/* If the browser window is 768px or smaller, the select will be repositioned in line with the controls */
@media only screen and (max-width: 768px) {
	.form-group {
		top: 15px;
	}
}



