/* loading div */
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.7;
	background-color: #fff;
	z-index: 9999;
	text-align: center;
}

/* loading gif */
#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

/* the div containing the select */
.form-group {
	width: 12vw;
	top: 1vw;
	margin: 0 auto;
	z-index: 99999;
	position: relative;
}

/* select */
.form-control {
	max-width: 11vw;
	text-align: center;
	width: max-content;
}

/* the map itself */
#mapid {
	height: 100vh;
	position: absolute;
	width: 100%;
	overflow: hidden;
	bottom: 0px;
}

.img-fluid {
	width: 100%;
	padding: 0px 0px 10px 0px;
}

/* core info modal body */
div#coreInfoBody.modal-body {
	height: 70vh;
	overflow-y: scroll;
	max-width: auto;
}

select::-ms-expand {
	  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
	select {
		background: none\9;
		padding: 5px\9;
	}
}

img {
	width: auto;
	height: auto;
}

table {
	border-collapse: collapse;
	max-width: auto;
	background-color: #666666;
}

td {
    border:1px solid black;
}

table > th {
	text-align: center;
}

#selCountry.navbar-text {
	color: #666666;
}

ul.navbar-text {
	color: #666666;
}
