/* import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
	font-family: 'DM Sans', sans-serif;
}

/* loading div */
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.7;
	background-color: #fff;
	z-index: 9999;
	text-align: center;
}

/* loading gif */
#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

/* the div containing the select */
.form-group {
	width: 12vw;
	top: 1vw;
	margin: 0 auto;
	z-index: 99999;
	position: relative;
}

.form-control {
	max-width: 11vw;
	text-align: center;
	width: max-content;
}

#mapid {
	height: 100vh;
	position: absolute;
	width: 100%;
	overflow: hidden;
	bottom: 0px;
}

.right-align {
	text-align: right;
}

/*specific to wiki link markers*/
#wiki {
	width: 40vw;
}

/*************** apply to all marker popups ***************/
.leaflet-popup-content-wrapper {
	width: fit-content;
	padding: 0px;
}

.leaflet-popup-content-wrapper tr:nth-child(even) {
	background-color: white;
	color: black;
}

.leaflet-popup-content-wrapper tr:nth-child(odd) {
	background-color: lightgray;
	color: black;
}

div.leaflet-popup-content-wrapper {
	background-color: #f3f3f3ec;
}


.left-align {
	text-align: left;
}

.centre-align {
	text-align: center;
}

.fit-content {
	width: fit-content;
}

.img-fluid {
	width: 100%;
	padding: 0px 0px 10px 0px;
}

/*************** apply to all modals ***************/
div.modal-content {
	height: fit-content;
	width: auto;
	overflow-y: scroll;
	overflow-x: scroll;
	border-radius: 15px;
	color: black;
}

/*************** modal headers ***************/
#coreInfoHeader {
	background-color: rgb(17, 135, 182);
	color: white;
}

#weatherHeader {
	background-color: rgb(255, 224, 51);
}

#nationalWeatherTitle {
	align-content: center;
}

#covidHeader {
	background-color: rgb(226, 0, 0);
	color: white;
}

#newsHeader {
	background-color: rgb(119, 48, 69);
	color: white;
}

hr.hr1 {
	height: 5px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(119, 48, 69);
}
/*************** modal bodies ***************/
div#coreInfoBody.modal-body {
	padding: 0px;
}

div#nationalWeatherBody.modal-body {
	padding: 0px;
}

div#covidBody.modal-body {
	padding: 0px;
}

/*************** tables and containing cells ***************/
table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {
    background-color: #ebebeb;	/* apply to every other table row */
}

/*************** Support for IE browser ***************/
select::-ms-expand {
	  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
	select {
		background: none\9;
		padding: 5px\9;
	}
}